#closeUpPic{
    float: right;
    border-radius: 5%;
    width: 65%;
    padding-left: 5px;
}
#aboutMeInfo{
    padding-top: 10px;
    text-align: left;
    width: auto;
    position: relative;
    padding-top: 30px;
}

#name{
    position: absolute; 
    font-size: 65px;
    top: 25px; 
    left: 25px;
    animation-name: myName;
    animation-duration: 4s;
    animation-timing-function: linear;
    color: transparent;
    animation-fill-mode: forwards;
}
@keyframes myName {
    0%{
        color: transparent;
    }
    100%{
        color: white;
    }
}

#position{
    position: absolute;
    font-size: 40px; 
    top: 60px; 
    left: 25px;
    animation-name: myPosition;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-timing-function: linear;
    color: transparent;
    animation-fill-mode: forwards;
}
@keyframes myPosition {
    0%{
        color: transparent;
    }
    100%{
        color: white;
    }
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

#position{
    display: none;
}
}